include LICENSE
include AUTHORS
include README.md
include MANIFEST.in
recursive-include quartzbio *.md
recursive-include quartzbio *.py
recursive-include quartzbio/test/data *
include quartzbio/contrib/dash/login.js
include quartzbio/contrib/dash/oauth-redirect.js
